.App {
  text-align: center;
  margin-bottom: 50px;
}

.product-card {
  background-color: transparent !important;
  color: rgb(49, 49, 49);
  height: 300px;
  border-color: #cecece !important;
  transition: 0.2s;
}

.product-card:hover {
  background-color: transparent !important;
  color: rgb(49, 49, 49);
  height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.product-cursor {
  cursor: pointer;
}

.image-product { 
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px; 
  align-self: center;
}

.image-product img { 
  width: 100%;
  height: auto; 
}